body{background-color: #202124;
      color:#FFFFFF
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-family: sans-serif;
}

.googlelogo {
    display: flex;
    justify-content: center
}

.buttons {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.Language {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin-bottom: 150px
}

.Country {
    display: flex;
    background-color: #494949;
    padding-left: 10px; 
    font-family: sans-serif;
}

.footer {
    display: flex;
    justify-content: flex-end;
    background-color: #494949;
    font-family: sans-serif;
}
