body{background-color: #202124;
      color:#FFFFFF;
      font-family: sans-serif;
      font-size: 15px;
      text-decoration: none;
      color:white;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-left: 10px;
    font-family: sans-serif;
    text-decoration: none;
    color:white;
}

.googlelogo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.searchbar{
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  font-family: sans-serif;

}


button {
  display: inline-block;
  background-color: #303035;
  border-radius: 1px;
  margin: 5px;
  color: #eeeeee;
  text-align: center;
  cursor: pointer;
}
.Language {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin-bottom: 150px;
    color: #ADADAD;
}

.Country {
    display: flex;
    background-color: #171717;
    padding-left: 10px; */
    font-family: sans-serif;
    color:#ADADAD;
    width:100%;
}

.footer{
    display: flex;
    /* justify-content: flex-end; */
    background-color: #171717;
    font-family: sans-serif;
    color: #ADADAD;
    padding-left: 10px;
    margin-top: 1px;
    align-items:center ;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;

}

.f_left,.f_right{
display: flex;
padding-left: 10px
color:white;
text-decoration : none;
}

.deco{text-decoration: none;
color:#ADADAD;}

.deco:hover
{
  text-decoration: underline;
}
